---
import { type CollectionEntry, getCollection } from 'astro:content'
import Layout from 'src/layouts/Layout.astro'
import ProjectHero from '@components/ProjectHero.astro'

import '@styles/globals.css'
import '@styles/all.min.css'
import '@styles/shortcodes.css'
import '@styles/testing.css'

import 'swiper/css'
import 'swiper/css/navigation'
import 'swiper/css/pagination'

interface GalleryItem {
  image: string
  caption: string
}

// Generate paths for all projects
export async function getStaticPaths() {
  const projects: CollectionEntry<'projects'>[] =
    await getCollection('projects')

  return projects.map((project) => ({
    params: { slug: project.slug },
    props: { project },
  }))
}

// Get current project data
const { project } = Astro.props as { project: CollectionEntry<'projects'> }
const { title, date, role, heroImage, description, gallery, nextProject } =
  project.data
---

<Layout>
  <body class="uppercase-titles">
    <main>
      <div class="cd-index cd-main-content  light-content">
        <div id="page-content">
          <div id="content-scroll">
            <div id="main">
              <div id="hero" class="has-image autoscroll">
                <div id="hero-styles">
                  <div
                    id="hero-caption"
                    class="content-full-width text-align-center parallax-scroll-caption"
                  >
                    <div class="inner">
                      <h1
                        class="hero-title caption-timeline primary-font-title"
                      >
                        <span>{title}</span>
                      </h1>
                      <div class="hero-arrow link caption-timeline">
                        <span><i class="arrow-icon"></i></span>
                      </div>
                    </div>
                  </div>
                  <div id="hero-description" class="content-max-width">
                    <div class="inner">
                      <p class="bigger">Challenge</p>
                      <p class="has-opacity ">{description}</p>
                      <br />
                      <p class="bigger no-margins">Date</p>
                      <p class="has-opacity">{date}</p>
                      <p class="bigger no-margins">Role</p>
                      <p class="has-opacity no-margins">{role}</p>
                      <hr />
                      <p class="has-animation">
                        [ <a
                          class="link-text"
                          target="_blank"
                          href="https://themeforest.net/user/clapat/portfolio"
                          ><span class="link" data-hover="View Website"
                            >View Website</span
                          ></a
                        > ]
                      </p>
                    </div>
                  </div>
                  <div id="hero-footer">
                    <div class="hero-footer-left">
                      <div class="button-wrap right scroll-down">
                        <div class="icon-wrap parallax-wrap">
                          <div class="button-icon parallax-element">
                            <i class="arrow-icon-down"></i>
                          </div>
                        </div>
              
                      </div>
                    </div>
                    <div class="hero-footer-right">
               
                    </div>
                  </div>
                </div>
              </div>
              <div id="hero-image-wrapper">
                <div id="hero-background-layer" class="parallax-scroll-image">
                  <div
                    id="hero-bg-image"
                    style={`background-image:url(${heroImage})`}
                  >
                  </div>
                </div>
              </div>
              <div id="main-content">
                <div id="main-page-content">
                  <div
                    class="content-row row_padding_top row_padding_bottom dark-section text-align-center"
                    data-bgcolor="#0c0c0c"
                  >
                    <h2 class="has-mask-fill no-margins secondary-font-title">
                      The
                    </h2><h2 class="has-mask-fill">Gallery</h2>
                  </div>

                  <div
                    class="content-row row_padding_bottom dark-section"
                    data-bgcolor="#0c0c0c"
                  >
                    <!-- Floating Gallery -->
                    <div class="gallery-grid">
                      {
                        gallery.map(
                          (
                            item: { image: string; caption: string },
                            index: number,
                          ) => {
                            const randomParallax = (
                              Math.random() - 0.5
                            ).toFixed(2)
                            return (
                              <div
                                class={`one_third ${index === gallery.length - 1 ? 'last' : ''} vertical-parallax`}
                                data-startparallax="0"
                                data-endparallax={randomParallax}
                              >
                                <figure>
                                  <div class="gallery-item" data-index={index}>
                                    <img src={item.image} alt={item.caption} />
                                  </div>
                                  <figcaption>{item.caption}</figcaption>
                                </figure>
                              </div>
                            )
                          },
                        )
                      }
                    </div>

                    <!-- Fullscreen Swiper -->
                    <div class="swiper-container fullscreen-swiper">
                      <div class="swiper-wrapper">
                        {
                          gallery.map(
                            (
                              item: { image: string; caption: string },
                              index: number,
                            ) => (
                              <div class="swiper-slide">
                                <div class="swiper-zoom-container">
                                  <img src={item.image} alt={item.caption} />
                                  <div class="swiper-caption">
                                    {item.caption}
                                  </div>
                                </div>
                              </div>
                            ),
                          )
                        }
                      </div>
                      <div class="swiper-button-prev"></div>
                      <div class="swiper-button-next"></div>
                    </div>
                  </div>
                  <div
                    class="content-row small row_padding_top row_padding_bottom dark-section"
                    data-bgcolor="#0c0c0c"
                  >
                    <h4>
                      <span class="has-span-indent">Short Quick Tip</span>
                      <span class="has-mask-fill"
                        >Our project pages are a playground for creativity where
                        we leverage an assortment of shortcodes to build
                        captivating content.</span
                      >
                    </h4>
                  </div>

                  <div
                    class="content-row full dark-section"
                    data-bgcolor="#171717"
                  >
                    <figure class="has-parallax">
                      <img src="/images/01hero.jpg" alt="Image Title" />
                    </figure>
                  </div>
                </div>

                <div id="project-nav" class="">
                  <div class="next-project-wrap">
                    <p class="all-works">
                      [ <a
                        class="link-text ajax-link"
                        data-type="page-transition"
                        href="index-showcase-carousel.html"
                        ><span class="link" data-hover="View All Works"
                          >View All Works</span
                        ></a
                      > ]
                    </p>
                    <div
                      class="next-project-caption text-align-center content-max-width"
                    >
                      <div class="next-caption-wrapper">
                        <div class="caption-wrapper">
                          <a
                            class="next-ajax-link-project auto-trigger"
                            data-type="page-transition"
                            href="/project02"
                            data-color="#963a8d"
                            data-firstline="Next"
                            data-secondline="Project"></a>
                          <div class="next-caption">
                            <div class="next-hero-counter"><span>0</span></div>
                            <div class="next-hero-title primary-font-title">
                              <span><em>Woolen</em> Craft</span>
                            </div>
                            <div class="next-hero-subtitle">
                              <span>Next Project</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="next-hero-progress"><span></span></div>
                    <div class="next-project-image-wrapper">
                      <div class="next-project-image">
                        <div
                          class="next-project-image-bg"
                          style="background-image:url(/images/02hero.jpg)"
                        >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div></div>
      </div>
    </main>
    <div class="spacer-end"></div>
  </body>
</Layout>

<div id="app"></div>
<div class="cd-cover-layer"></div>
<div id="clone-image">
  <div class="hero-translate"></div>
</div>
<div id="rotate-device"></div>

<script is:inline src="/scripts/scripts.js" type="module" "client:load": true;
></script>

<script>
  import Swiper from 'swiper'
  import { Navigation, Zoom } from 'swiper/modules'

  const galleryItems = document.querySelectorAll<HTMLElement>('.gallery-item')
  const swiperContainer =
    document.querySelector<HTMLElement>('.fullscreen-swiper')
  let swiper: Swiper | undefined

  if (swiperContainer) {
    galleryItems.forEach((item) => {
      item.addEventListener('click', () => {
        const index = parseInt(item.dataset.index || '0')
        swiperContainer.style.display = 'block'

        swiper = new Swiper('.fullscreen-swiper', {
          modules: [Navigation, Zoom],
          initialSlide: index,
          zoom: true,
          navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
          },
        })
      })
    })
  }
</script>

<style>
  .fullscreen-swiper {
    z-index: 10000;
  }

  .fullscreen-mode #nav-button {
    display: none;
  }

  .gallery-item {
    cursor: pointer;
  }

  .fullscreen-swiper {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 1, 18);
    z-index: 10000;
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    max-height: 800px;
    width: auto;
     
  }

  .swiper-caption {
    position: absolute;
    bottom: 40px;
    width: 100%;
    text-align: center;
    color: white;
  }



  .swiper-button-prev, .swiper-button-next {
    color: rgba(145, 145, 145, 0.694);
    max-width: 1rem;
    width: 0.5rem;
    height: auto;
  }


</style>
